html {
    font-size: 16px;
}
body {
    font-family: Arial, sans-serif;
    background-color: white;
}
h1{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color:rgb(255, 255, 255);
    letter-spacing: 0.15px;

}
.label {
    border: 2px solid black;
    width: 260px; 
    margin: 20px auto;
}
p{
    margin: 0;
    padding: 5px;
    color: white; 
}
p.zero { 
    background-color: #ff0000
}
p.one { 
    background-color: #ff2f2f
}
p.two{ 
    background-color: #f94949
}
p.three { 
    background-color: #f87e7e
}
p.four{ 
    background-color: #fab2b2
}
p.five { 
    background-color: #f5d9d9
}
p.six { 
    background-color: #ffe1e1
}
p.seven { 
    background-color: #56f5b5
}
p.eight { 
    background-color: #abbdea
}
p.nine { 
    background-color: #89c7f9
}
p.ten { 
    background-color: #69a3ff
}
p.eleven { 
    background-color: #3979fa
}
p.twelve { 
    background-color: #1a61fa
}
p.thirteen{ 
    background-color: #0250a9
}
p.fourteen{ 
    background-color: #0e006a
}
